[submodule "ace-hamer/TARGET_FOLDER"]
	path = ace-hamer/TARGET_FOLDER
	url = https://github.com/geopavlakos/hamer.git
[submodule "ace-hamer/ori-hamer"]
	path = ace-hamer/ori-hamer
	url = https://github.com/geopavlakos/hamer.git
